*,*::before, *::after{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
  --main-bg-color: #212121;
  --wrapper-bg-color: #2c2c2c;
  --header-font-family: Helvetica;
  --header-font-size: 14px;
  --regular-font-size:14px;
  --main-font-color: #fff;
   --border-radius: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}



/* Bartenders section */
.bartender-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
   gap: 1em;
   place-items: center;
   padding: 1em 0;
   grid-area: bartenders;
   background: var(--wrapper-bg-color);

}
.bartender-card{
  display:grid;
  grid-template-areas: 
  'left-col mid-col  right-col';
  gap: 1.2em;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 3em;
  min-width:20%;
  max-width:96%;
  padding: 1em 2em;
  border-radius: 20px;
  color:var(--main-font-color);
  background: var(--main-bg-color);
}

.bartender-wrapper img{
  max-width: 100%;
}

.bartenders-heading{
  align-self: flex-start;
  margin-left: .6em;
  font-size: var(--header-font-size);
}

.bartender-left-col,.bartender-mid-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bartender-left-col{
grid-area: left-col;
}
.bartender-mid-col{
  grid-area: mid-col;
  align-self: flex-end;
  justify-self: center;
}

.bartender-right-col{
  grid-area: right-col;
}

/* dashboard grid */

.dashboard-wrapper{
  display:grid;
  grid-template-columns: 1.3fr 2fr 1.3fr;
  grid-template-areas:
  'statistics orders bartenders'
   'taps taps storage';
   gap: 1em;
}



.statistics-wrapper{
  grid-area: statistics;
  background: green;

}

.orders-wrapper{
  grid-area: orders;
  background: brown;

}

.taps-wrapper{
  grid-area: taps;
  background: hotpink;

}

.storage-wrapper{
  grid-area: storage;
  background: rebeccapurple;

}

.dashboard-wrapper > article {
  border-radius: var(--border-radius);
}